[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
djoser = "*"
djangorestframework = "*"
drf-nested-routers = "*"
model-bakery = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
